@model InsuranceApplicationMVC.Models.InsuranceModels.Request

@{
    ViewData["Title"] = "ViewResult";
}

<h1>ViewResult</h1>

<div>
    <h4 style="color:green">View your request result</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carManufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carManufacturer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.carType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.carType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.riskAssessment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.riskAssessment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.riskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.riskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reqResult)
        </dt>
        <dd class = "col-sm-10" style="color:green">
            <strong>@Html.DisplayFor(model => model.reqResult)
            </strong>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
